.btn-warning {
  color: #fff;
  &:hover {
    color: #fff;
  }
}


.intrinsic {
  padding-top: 100%;
  position: relative;
  height: 0;
  width: 100%;
  background: #fff;

  .intrinsic-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
